<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-items">
                        <a class="navbar-brand" href="#">
                            <img class="logo" src="assets\logo\webanix-logo.png" alt="">
                        </a>
                        <p class="mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit
                            totam vel laboriosam vitae.</p>
                        <div class="social-icons">
                            <ul class="">
                                <li class="ssi-facebook"><a href="https://www.facebook.com/webanix/"><img
                                            src="assets\icons\facebook.png" class="social-facebook"
                                            aria-labelledby="social-facebook-2" title="Facebook">
                                    </a></li>
                                <li class="ssi-instagram"><a href="https://www.instagram.com/webanix/"><img
                                            src="assets\icons\instagram.png" class="social-instagram"
                                            aria-labelledby="social-instagram-2" title="Instagram">

                                    </a></li>
                                <li class="ssi-linkedin"><a href="https://www.linkedin.com/company/webanix/"><img
                                            src="assets\icons\linkedin.png" class="social-linkedin"
                                            aria-labelledby="social-linkedin-2" title="LinkedIn">
                                        <title id="social-linkedin-2"></title>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="footer-menu">
                        <ul>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/" aria-current="page">Services</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/seo-services-in-usa/"
                                    aria-current="page">SEO (Search Engine Optimization)</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/sem-services-in-udaipur/"
                                    aria-current="page">SEM / PPC</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/email-marketing-services-in-usa/"
                                    aria-current="page">Email Marketing</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/social-media-marketing-agency-in-usa/"
                                    aria-current="page">SMM/SMO</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/services/web-development-agency-in-udaipur/"
                                    aria-current="page">Web & App Development</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/about-us/" aria-current="page">About US</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/web-development-blog/"
                                    aria-current="page">Blog</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/search-engine-optimization-in-usa-contact-us/"
                                    aria-current="page">Contact</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-195" class="menu-item">
                                <a href="https://webanixsolutions.com/" aria-current="page">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="contact-us">
                        <h1>Contact Us</h1>
                        <ul>
                            <li>
                                <img src="assets\icons\telephone.svg" alt="">
                                +1- 7819647501 <br>
                            </li>
                            <li>
                                <img src="assets\icons\envelope.svg" alt="">
                                <p><a href="mailto:http://tech@webanixsolutions.com">tech@webanixsolutions.com</a></p>
                            </li>
                            <li>
                                <img src="assets\icons\geo-alt.svg" alt="">
                                <p>Boston, Massachusetts, US</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>