<div class="header">
    <header>
        <div class="px-3 py-2 ">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
                        <a href="https://webanixsolutions.com/" class="custom-logo-link" rel="home"><img width="220"
                                height="57" src="assets\logo\webanix-logo.png" class="custom-logo" alt="WEBaniX" /></a>
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="#" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Services
                                </a>
                                <div class="sub-menu">
                                    <ul class="dropdown-menu" id="service">
                                        <div class="row">
                                            <div class="col-6">
                                                <li class="drop-head">Digital</li>
                                                <li><a class="dropdown-item" href="#">SEO(Search Engine
                                                        Optimization)</a></li>
                                                <li><a class="dropdown-item" href="#">SEM /
                                                        PPC</a></li>
                                                <li><a class="dropdown-item" href="#">Email
                                                        Marketing</a></li>
                                                <li><a class="dropdown-item" href="#">SMM /
                                                        SMO</a></li>
                                                <li><a class="dropdown-item" href="#">Growth
                                                        Hacking</a></li>
                                                <li><a class="dropdown-item" href="#">Web
                                                        Analytics</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li class="drop-head">Softwares & Website
                                                    Development</li>
                                                <li><a class="dropdown-item" href="#">Web
                                                        Development</a></li>
                                                <li><a class="dropdown-item" href="#">Software
                                                        Development</a></li>
                                                <li><a class="dropdown-item" href="#">Mobile App
                                                        Development​</a></li>
                                                <li><a class="dropdown-item" href="#">CMS</a></li>
                                                <li><a class="dropdown-item" href="#">LMS</a></li>
                                                <li><a class="dropdown-item" href="#">Magento</a></li>
                                                <li><a class="dropdown-item" href="#">Shopify</a></li>
                                                <li><a class="dropdown-item" href="#">Custom PHP</a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                                <div class="sub-menu">
                                    <ul class="dropdown-menu" id="products">
                                        <li><a class="dropdown-item" href="#">Logistic Management Software</a></li>
                                        <li><a class="dropdown-item" href="#">Hospital Management Software</a></li>
                                        <li><a class="dropdown-item" href="#">Hotel Management Software</a></li>
                                        <li><a class="dropdown-item" href="#">Task Management Software</a></li>
                                        <li><a class="dropdown-item" href="#">Restaurant Management Software</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>